@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:ital,wght@0,700;1,400&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* Utility class */

.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.flex {
    display: flex;
    align-items: center;
}

.hover-links {
    color: var(--primary-text-color);
}

.hover-links:hover {
    color: #2294ed;
    transition: 0.2s ease-out;
}

.primary-buttom {
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.5s ease-out;
}

.primary-buttom:hover {
    background-color: var(--accent-color-dark);
}

.secondary-buttom {
    border: 0.5px solid var(--primary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color);
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondary-buttom:hover {
    border-color: var(--accent-color);
}

/* Top Banner */
.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.top-banner {
    background-color: #4fb3d4;
    background-image: url('./image/asset\ 32.png');
    background-size: 300px;
    /* background-repeat: no-repeat; */
}

.banner-text {
    color: white;
    padding: 15px 30px;
    text-align: center;
}

/* nav bar */

.main-nav {
    margin-top: 20px;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.company-logo img {
    width: 200px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}

/* Header section */
header {
    padding: 50px var(--padding-inline-section);
}

.header-section {
    justify-content: center;
    gap: 50px;
}

header-left {
    max-width: 40vw;
}

.header-right h1 {
    margin: 20px;
}

.get-started {
    margin: 20px;
}

.header-right img {
    width: 600px;
}

/* Company section */

.company-header {
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}

.logos {
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    height: 46px;
}

/* feature section */
.features-section {
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./image/asset\ 41.png);
    background-repeat: no-repeat;
    background-position: center;
}

.feature-header {
    text-align: center;
}

.feature-header h2 {
    margin-bottom: 20px;
}

.feature-area {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    gap: 40px;
}

.feature-cards {
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}
/* big-feature-section */
.big-feature-section {
 padding: 30px var(--padding-inline-section) 0;
}
.big-feature-container {
    gap: 30px;
}
.feature-img img{
    width: 100%;
}
.feature-desc {
    flex-direction: column;
    align-items: flex-start;
}
.examples-area {
    
    justify-content: space-between;
    margin-block: 30px;
}
.examples-cards {
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    background:linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8) ), url(./image/asset\ 37.jpeg);
    background-size: cover;
    transition: 0.2s ease-out;
}
.examples-cards:hover {
    box-shadow: 0 0 20px #888;
}
.examples-cards:nth-child(3){
    background:linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8) ), url(./image/asset\ 38.jpeg);
    background-size: cover;
}
.card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}

/* CTA SECTION */

.cta-section {
    background-color: #183b56 ;
    padding: 120px var(--padding-inline-section) 80px;
}

.cta-section-container {
    flex-direction: column;
    gap: 30px;
    color: white;
    text-align: center;
}
.cta-section-container p {
    color: white;
    margin-top: 20px;
}

/* footer */

footer {
    padding-block:80px;
    background-color: #ebf2fa;
}
.link-column {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-container {
    align-items: flex-start;
    justify-content: space-between;
}

/* Subfooter */

.subfooter {
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}

.subfooter-container {
    justify-content: center;
    gap: 30px;
}